
/*---default styles----*/
:root {
    --color-white: #fff;
    --color-primary: darkgoldenrod;
    --color-prrimary-dark: #7e5b03;
    --color-primary-light: #f0d48f;
    --color-black: #313131;
    --color-grey: #43596e;
    --color-grey-light: #7b8c9c;
    --color-grey-lighter: #f1f5f8;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;
    --spacing: 0.15rem;
    --radius: 0.5rem;
    --transition: all 0.3s ease-in-out;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-secondary);
    font-size: 0.875rem;
    line-height: 1.5;
    background-color: var(--color-grey-lighter);
    color: var(--color-grey);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img:not(.logo) {
    width: 100%;
}

img {
    display: block;
}

h1,
h2,
h3,
h4 {
    font-family: var(--font-primary);
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    margin-bottom: 0.75rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.875rem;
}

p {
    margin-bottom: 1.25rem;
    color: var(--color-grey-light);
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }
    
    h2 {
        font-size: 2.5rem;
    }
    
    h3 {
        font-size: 1.75rem;
    }
    
    h4 {
        font-size: 1rem;
    }
    
    body {
        font-size: 1rem;
    }

    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}

.btn {
    font-size: 0.7rem;
    text-transform: uppercase;
    background: transparent;
    color: var(--color-primary);
    padding: 0.325rem 0.55rem;
    margin: 0.5rem 0.2rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    border: 2px solid var(--color-primary);
    border-radius: var(--radius);
    cursor: pointer;
    transition: var(--transition);
}

.btn:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
}


/* ----menu starts here ----- */


.menu {
    padding: 5rem 0;
}

.title {
    text-align: center;
    color: var(--color-black);
}

.underline {
    width: 5rem;
    height: 0.2rem;
    background-color: var(--color-primary);
    margin: 0.5rem auto 1.5rem;
}

.btn-container {
    width: 90vw;
    margin: 0 auto 1.5rem;
    text-align: center;
}

.menu-container {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-gap: 2.5rem;
    justify-items: center;
  }

.menu-item {
    display: grid;
    grid-gap: 1rem 2rem;
    max-width: 25rem;
}

.photo {
    height: 250px;
    object-fit: cover;
    border-radius: var(--radius);
    transition: var(--transition);
}

.photo:hover {
    transform: scale(1.05);
    box-shadow: var(--dark-shadow);
}

.item-info header {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid var(--color-grey-light);
}

.price {
    color: var(--color-primary);
}

.item-text {
    padding-top: 1rem;
}

@media screen and (min-width: 768px) {
    .menu-item {
        grid-template-columns: 300px 1fr;
        grid-row-gap: 1rem;
        max-width: 40rem;
    }
    .photo {
        height: 190px;
    }
}

@media screen and (min-width: 1200px) {
    .menu-container {
        grid-template-columns: 1fr 1fr;
    }
    .photo {
        height: 170px;
    }
}